<!DOCTYPE html>
<html lang="en">

<head>
	<%- include ('../partials/head') %>
</head>

<body class="container">

	<header>
		<%- include ('../partials/header') %>
	</header>

	<main>
			<h1>Aite</h1>
			<p>This is the new datingsite for gamers.</p>
	</main>

	<section id="topGames">
		<h2>Your favorite games</h2>

		<ul>
			<li><%= titleGame1 %></li>
			<li><%= titleGame2 %></li>
			<li><%= titleGame3 %></li>
		</ul>
	</section>

	<section>
		<form action="/" method="POST">
			<label for="titleGame1">Your favorite game:</label>
			<input type="text" id="titleGame1" name="titleGame1">

			<label for="titleGame2">Your 2nd favorite game:</label>
			<input type="text" id="titleGame2" name="titleGame2">

			<label for="titleGame3">Your 3th favorite game:</label>
			<input type="text" id="titleGame3" name="titleGame3">
			<input type="submit">
		</form>
	</section>

	<footer>
		<%- include ('../partials/footer') %>
	</footer>

</body>

</html>