<!DOCTYPE html>
<html lang="en">

<head>
	<%- include ('../partials/head') %>
</head>

<body class="container">

	<header>
		<%- include ('../partials/header') %>
	</header>

	<main>
            <h1>MY PROFILE</h1>
            <form action="/profile" method="POST">
                <label for="userName">Your Username:</label>
                <input name="userName" type="text" id="userName">
                <input type="submit">
            </form>
    </main>

    <section>
        
        <% if ( typeof userData != "undefined") { %>
            <h2>Your data</h2>
            <p>name: <%= userData.userName %></p>
            <p>Favorite game: <%= userData.titleGame1 %></p>
            <% 
            // https://stackoverflow.com/questions/7364150/find-object-by-id-in-an-array-of-javascript-objects
            const item = top100Games.find(item => item.name === userData.titleGame1)

            const baseURL = "//images.igdb.com/igdb/image/upload/t_screenshot_huge/"
            const nItems = item.screenshots.length

            const randomNumer = Math.floor(Math.random() * nItems)

            const hashImageId = item.screenshots[randomNumer].image_id
            const jpgFormat = ".jpg"
            const description = item.summary

            const fullUrl = baseURL.concat(hashImageId, jpgFormat)
            %>
            <img src="<%= fullUrl %>" alt="">
            <p> <%= description %></p>
            
        <% } else { %>
            <h3>Look up your username to find your profile!</h3>
       <% } %>


    </section>

	<footer>
		<%- include ('../partials/footer') %>
	</footer>

</body>

</html>