<!DOCTYPE html>
<html lang="en">

<head>
	<%- include ('../partials/head') %>
</head>

<body class="container">

	<header>
		<%- include ('../partials/header') %>
	</header>

	<main>
		<h1>MY MATCHES</h1>
		<p>SEARCH FOR MATCHES ON YOUR USERNAME</p>
	</main>

	<section>
		<form action="/update" method="POST">
			<label for="userName">Your username</label>
			<input id="userName" name="userName" type="text">
			<label for="dd_game1">Favorite game 1</label>
			<select name="dd_game1" id="dd_game1">
				<% for (x=0; x < top100Games.length; x++) { %>
				<option value="<%= top100Games[x].name %>"><%= top100Games[x].name %></option>
				<% } %>
			</select>
			<input type="submit">
		</form>
	</section>

	<footer>
		<%- include ('../partials/footer') %>
	</footer>

</body>

</html>